.schedule-result-block {
    padding-top: 90px;
    h3 {
        margin-bottom: 40px;
    }
    &__buttons {
        border-top: 2px solid $base-red-color;
        margin-bottom: 60px;
        .btn {
            font-size: 18px;
            padding: 15px 40px;
            color: $text-dark;
            font-weight: 700;
            line-height: 30px;
            background-color: transparent;
            border: none;
            &--choosed {
                background-color: $base-red-color;
                color: $text-white;
            }
            @media (max-width: 325px) {
                font-size: 16px;
            }
        }
        
    }
    &__cards {
        display: flex;
        text-align: center;
        gap: 35px;
        @media (max-width: $desktop-small) {
            gap: 10px;
        }
        @media (max-width: $tablet-big) {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            row-gap: 50px;
        }
        @media (max-width: $phone-normal) {
            grid-template-columns: 1fr; 
        } 
    }
}