$base-red-color: #EC3E5A;

$text-dark: #282830;
$text-light: #FAFAFA;
$text-white: #FFFFFF;
$text-sub: #757C84;

$header-background: #18181C;
$card-background: #FFFFFF;
$light-background: #FAFAFA;
$match-background: #F0F0F0;
$table-background: #E5E5E5;
$registrarion-color: #20A95A;
