body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: $light-background;
}

.container {
    margin: 0 auto;
    max-width: 74.89%; // 1438px = 74.89% on 1920px
    height: 100%;
    @media (max-width: $desktop-small) {
        max-width: 80%;
    }
    @media (max-width: $phone-normal) {
        max-width: 90%;
    } 
    &--header {
        max-width: 93.75%; // 1800px = 93.75% on 1920px
        @media (max-width: $phone-normal) {
            max-width: 90%;
        } 
    }
}

.btn {
    cursor: pointer;
}

